@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
  font-family: "Galmuri7";
}

* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "Galmuri7";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.pokedex-case {
  background-color: #dc0a2d;
  border: 6px solid #000;
  border-radius: 10px 10px 60px 10px;
  padding: 40px 25px;
  width: 380px;
  min-height: 600px;
  box-shadow: 12px 12px 0px #85061c;
  position: relative;
}

.pokedex-screen {
  background-color: #dedede;
  border: 4px solid #000;
  padding: 20px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: inset 4px 4px 0px #888;
}

.pixel-text {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #000;
  line-height: 1.5;
}

.search-box {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.pixel-input {
  flex: 1;
  min-width: 200px;
  border: 3px solid #000;
  padding: 8px;
  font-family: "Galmuri7";
  font-size: 16px;
  outline: none;
  background: #fff;
}

.pixel-btn {
  background-color: #4dad5b;
  border: 3px solid #000;
  color: white;
  padding: 8px 12px;
  font-family: "Galmuri7";
  font-size: 12px;
  cursor: pointer;
  box-shadow: 3px 3px 0px #2e6936;
  flex-shrink: 0;
}

.pixel-btn:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.random-btn {
  background-color: #31a7d7;
  box-shadow: 3px 3px 0px #1b617d;
  width: 100%;
}

.result-area {
  border: 4px solid #000;
  background-color: #8bac0f; /* GB Classic LCD Green */
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  image-rendering: pixelated;
  box-shadow: inset 4px 4px 0px #306230;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke-card {
  text-align: center;
  color: #0f380f;
}

.poke-sprite {
  width: 120px;
  height: 120px;
  image-rendering: pixelated;
}

.fusion-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  background-color: #9bbc0f;
  border: 2px solid #0f380f;
}

.fusion-sprite-1 {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.fusion-sprite-2 {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
}

.poke-name {
  font-size: 14px;
  margin: 15px 0 5px 0;
}
.poke-id {
  font-size: 9px;
  margin: 0;
}

audio {
  max-width: 100%;
  max-height: 100%;
  height: 35px;
  filter: sepia(1) saturate(5) hue-rotate(50deg); /* LCD 색상에 맞춘 오디오 UI */
  margin-top: 10px;
}
